@keyframes pulseLinkbar {
    0%{
        opacity: 0;
    }    
    100%{
        opacity: 1;
    }
}

@keyframes marqueeScroll  {
    0% { 
        transform: translateX(-100%); 
    }
    100% { 
        transform: translateX(100%); 
    }
}

/*  To Show and hide the bg icon of services card */

@keyframes showCardBg 
{
    0% {
      transform: translateX(400px);
    }
    100% {
      transform: translateX(90px);
    }
}

@keyframes hideCardBg 
{
    0% {
      transform: translateX(90px);
    }
    100% {
      transform: translateX(400px);
    }
}

.showCardBg {
    animation: showCardBg 500ms ease-in-out forwards;
}

.hideCardBg {
    animation: hideCardBg 500ms ease-in-out forwards;
}

/* ------------------------------------- */

/* Icon of navigation links in header */

@keyframes showIcon {
    0%{
        opacity: 0;
        transform: translateX(10px) scale(0.5);
    }
    100%{
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}


@keyframes hideIcon {
    0%{
        opacity: 1;
        transform: translateX(0) scale(1);
    }
    100%{
        opacity: 0;
        transform: translateX(10px) scale(0.5);
        
    }
}


.showIcon {
    animation: showIcon 500ms ease-in-out forwards;
}

.hideIcon {
    animation: hideIcon 500ms ease-in-out forwards;
}
/* ------------------------------------- */

/* bar under navgiation links in header */
@keyframes showAnimationBar {
    0%{
        width: 0%;
    }    
    100%{
        width: 100%;
    }
}

@keyframes hideAnimationBar {
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

.showAnimationBar {
    animation: showAnimationBar 500ms ease-in-out forwards;
}

.hideAnimationBar {
    animation: hideAnimationBar 500ms ease-in-out forwards;
}

/* ------------------------------------- */


@keyframes textHeroAnimation {
    0%{
        stroke-dashoffset: 90;
    }
    80%{
        fill: transparent;
    }
    100%{
        fill: #fff;
        stroke-dashoffset: 0;
    }
}


@keyframes showSideBar{
    0%{ 
        opacity: 0; 
    }
    100%{ 
        opacity: 1;        
    }
}

@keyframes hideSideBar{
    0%{ 
        opacity: 1; 
    }
    100%{ 
        opacity: 0;        
    }
}

.showSidebar{
    animation: showSideBar 300ms ease-in-out forwards;
}

.hideSidebar{
    animation: hideSideBar 300ms ease-in-out forwards;
}