/* General Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

button {
    cursor: pointer;
    border: none;
}

strong
{
    color: #645648;
}

textarea{
    resize: none;
}

a
{
    text-decoration: none;
}

/* html + body */
html {
    font-size: 16px;
    scroll-behavior: smooth;
    min-height: 100vh;
}

body {
    font-family: var(--default-font);
    background-color: var(--body-bgcolor);
    overflow-x: hidden;
    width: 100%;
    height: 130vh;
}

/* Announcement bar */
.announcement-bar{
    background-color: var(--announcement-bar-bgcolor);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.announcement-bar > p{
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    color: var(--announcement-bar-fontcolor);
    font-size: 1.13rem;
    animation: marqueeScroll 10s linear infinite ;
    text-wrap: nowrap;
}

.announcement-bar > p > a{
    color: var(--announcement-bar-fontcolor);
    text-decoration: none;
    font-weight: 900;
    position: relative;

}

.announcement-bar > p > a::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--announcement-bar-linkbar-bgcolor);
    bottom: -2px;
    border-radius: 10px;
    opacity: 0;
    animation: pulseLinkbar 1s ease-in-out infinite;
}

/* up button */
.up-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #302a23;
    width: 40px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up-button > button
{
    background-color: transparent;
}

header{
    display: flex;
    background-color: var(--header-bgcolor);
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    position: relative;
    z-index: 2;
    
}

.navigation-container > ul
{
    display: flex;
    gap: 25px;
}

.navigation-container > ul > li{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: ease-in-out 500ms;
    position: relative;
}

.navigation-container > ul > li a
{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--navigation-links-fontcolor);
    transition: ease-in-out 500ms;
}

.navigation-container > ul > li:hover a{
    color: var(--navigation-links-fontcolor-hover);
}

.navigation-container > ul > li img{
    opacity: 0;
    transform: translateX(10px) scale(0.5);
}

.navigation-container > ul > li.hovered:hover::before{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: var(--navigation-links-bar-bgcolor);
    bottom: -5px;
    animation: showAnimationBar 500ms ease-in-out forwards;
}

.book-now-button{
    width: 130px;
    height: 40px;
    background-color: var(--book-now-btn-bgcolor);
    color: var(--book-now-btn-fontcolor);
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.182);
    transition: ease-in-out 500ms;
}

.book-now-button:hover{
    background-color: var(--book-now-btn-bgcolor-hover);
    color: var(--book-now-btn-fontcolor-hover);
}

.burger-menu{
    width: 40px;
    height: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

.burger-menu > .burger-line{
    width: 100%;
    height: 4px;
    background-color: #CDA49F;
    border-radius: 10px;
}


#hero
{
    width: 100%;
    height: 100vh;
    background: url("../assets/images/hero-image-two.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 2;
    padding: 15px;
}

#hero::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.523);
    z-index: -1;
}

#hero > .rita-name
{
    font-size: 2.2rem;
    color: #E8C7C2;
    text-align: center;
}

.hero-text-animation{
    width: 100%;
    height: 200px;
}

.hero-text-animation path{
    fill: transparent;
    stroke: #E8C7C2;
    stroke-width: 0.3;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: textHeroAnimation 4s ease-in-out 1 forwards;
}


#hero > p{
    font-size: 1.7rem;
    color: #E8C7C2;
    text-align: center;
}

#hero > .book-now-button{
    width: 200px;
    background-color: var(--hero-book-now-btn-bgcolor);
    color: var(--hero-book-now-btn-fontcolor);
}

#hero > .book-now-button:hover{
    background-color: var(--hero-book-now-btn-bgcolor-hover);
    color: var(--hero-book-now-btn-fontcolor-hover);
}

#about,
#services,
#gallery,
#course,
#contact
{
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
}

.section-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section-title > .line{
    width: 350px;
    height: 3px;
    border-radius: 50px;
    background-color: #645648;
}

.section-title > h2{
    color: var(--section-title-fontcolor);
    font-size: 2.2rem;
}

.section-title > svg{
    flex-shrink: 0;
}

.about-container
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 500px 1fr;
    column-gap: 40px;
}

.about-container > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.about-container > .about-description
{
    width: 100%;
}

.about-description > p
{
    font-size: clamp(1rem, 0.9rem + 1vw, 1.5rem);
    line-height: clamp(1.6rem, 1.8rem + 1.2vw, 2.4rem);
    
}

.brands-container
{
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: repeat(4 , 300px);
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

.brands-container  img
{
    width: 100%;
    height: 100%;
}



.services-cards-container
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.card
{
    width: 400px;
    height: 400px;
    background-color: #F8F4F1;
    box-shadow: 0px 0px 5px 0px #8E8E8E;
    border-top-right-radius: 2rem;
    border-bottom-right-radius:2rem;
    border-bottom-left-radius:2rem ;
    padding: 30px 0px 30px 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #675341;
    gap: 8px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: ease-in-out 500ms;
}

.card-header,
.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.card-header > h3{
    font-size: 1.35rem;
}

.card-info > .card-description{
    font-size: 1.1rem;
    max-width: 33ch;
    font-weight: 400;
}

.card-info > .card-price{
    font-weight: bold;
    font-size: 1.2rem;
}

.card > .line{
    --line-color : #675341;
    width: 100%;
    height: 2px;
    background-color: var(--line-color);
}

.card-button{
    background-color: #675341;
    align-self: center;
    margin-right: 30px;
    width: 100%;
    height: 35px;
    border-radius: 2rem;
    font-family: "Poppins" , sans-serif;
    color: #F8F4F1;
    transition: ease-in-out 500ms;
    box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.692);
}


.card > .card-bgphoto
{
    position: absolute;
    bottom: 0;
    right:  0;
    z-index: -1;
    transform: translateX(400px);
}

.card:hover{
    transform: scale(1.1);
}

.card:hover  .card-bgphoto
{
    animation: showCardBg 500ms ease-in-out forwards;
}

.card > .card-button:hover{
    background-color: #E3C6B8;
    color: #675341;
}


/* Gallery */

.gallery-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-container > .gallery-photo-container
{
    --shadow : #8E8E8E;

    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 5px 0px var(--shadow);
    border-radius: .35rem;
    overflow: hidden;
}

.gallery-photo-container > img
{
    width: 100%;
    border-radius: .35rem;
    height: 100%;
    transition: transform ease-in 0.2s;
    cursor: pointer;
}

.gallery-photo-container > img:hover
{
    transform: scale(1.2);
}


/* Course */
#course > .section-title,
#contact > .section-title
{
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.section-title > p{
    color: var(--section-title-fontcolor);

}

.course-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
}

.course-cards-container{
    display: flex;
    gap: 50px;
    width: 900px;
}

.course-cards-container > .course-card{
    cursor: pointer;
    display: flex;
    background-color: white;
    gap: 12px;
    width: 400px;
    padding: 15px;
    box-shadow: 0px 0px 5px 0px #8E8E8E;
    border-radius: 12px;
    transition: ease-in-out 500ms;
}

.course-card-info{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.course-card-info > .course-card-title
{
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--section-title-fontcolor);
    transition: ease-in-out 500ms;

}

.course-card-info > .course-card-description
{
    
    color: var(--section-title-fontcolor);
    transition: ease-in-out 500ms;

}

.course-card > svg
{
    flex-shrink: 0;
}

.course-card > svg path{
    transition: ease-in-out 500ms;
}

.course-card:hover{
    background-color: #DDB3A8;
}

.course-card:hover > .course-card-info > .course-card-description,
.course-card:hover > .course-card-info > .course-card-title
{
    color: #F8F4F1;
}

.course-card:hover > svg path
{
    fill: #F8F4F1;
}

.course-perks
{
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.course-perks > h3{
    font-size: 1.45rem;
    color: #645648;
}



.course-perks > .perks-container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.perks-container > li
{
    display: flex;
    align-items: center;
    gap: 12px;
}

.perks-container > li > p{
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    color: #302a23;
}

#course > .book-now-button
{
    align-self: center;
    width: 240px;
    height: 50px;
}

/* Contact */
#contact
{
    align-items: center;
}

.form-container
{
    width: 75%;
    height: auto;
    display: flex;
    --shadow : #8E8E8E;
    box-shadow: 0px 0px 5px 0px var(--shadow);

}

.form-container > .locations-container 
{
    position: relative;
    width: 50%;
}

.locations-container > iframe
{
    width: 100%;
    height: 100%;
    display: block;
}

#ehdenFrame
{
    display: none;
}

#mejdlayaFrame
{
    display: block;
}

.locations-switchers
{
    width: auto;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid var(--book-now-btn-bgcolor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    gap: 12px;
}

.locations-switchers > li
{
    display: flex;
    gap: 8px;
    align-items: center;
}

.locations-switchers > li > input
{
    flex-shrink: 0;
}
.form-container > form{
    --bg-color : #F8F4F1;
    
    width: 50%;
    height: auto;    
    background-color: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

form > .input-container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    height: 70px;
}

form > .txtarea-container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    height: 90px;
}

.input-container > input,
.txtarea-container > textarea{
    width: 100%;
    height: 100%;
}

.input-container > input,
.txtarea-container > textarea
{
    --font-color : #b69b81;
    --border-color : #b69b81;

    width: 100%;
    height: 100%;
    font-family: var(--general-font);
    padding: 10px;
    font-size: 0.8rem;
    background-color: transparent;
    border: 2px solid var(--border-color);
    border-radius: 0.25rem;
    color: var(--font-color);
    font-weight: 600;
    resize: none;
}

.form-buttons{
    display: flex;
    align-items: center;
    gap: 40px;
}

.form-buttons > button{
    width: 130px;
    height: 30px;
    border-radius: 50px;
}

.form-buttons > button{
    width: 130px;
    height: 30px;
    border-radius: 50px;
    background-color: var(--book-now-btn-bgcolor);
    color: var(--book-now-btn-fontcolor);
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.182);
    transition: ease-in-out 500ms;
}

.form-buttons > button:hover{
    background-color: var(--book-now-btn-bgcolor-hover);
    color: var(--book-now-btn-fontcolor-hover);
}

.contact-info-container
{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4 , 230px);
    grid-template-rows: auto;
    gap: 20px;
    justify-content: space-between;
}

.contact-info-container > .contact-card
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px #8E8E8E;
    border-radius: 12px;
    cursor: pointer;
    transition: ease-in-out 500ms;
}

.contact-info-container > .contact-card:hover{
    transform: scale(1.05);
}

.contact-card > .contact-header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: #675341;
}

.contact-header > h3
{
    font-size: 1.35rem;
}

.contact-info > p{
    color: #675341;
    font-size: 0.9rem;
}


/* SIDEBAR */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:linear-gradient(to right , #F8F4F1 , #ce7a6c);
    z-index: 5;
    opacity: 1;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.sidebar > .navigation-container
{
    width: 100%;
    height: 350px;
}

.sidebar > .navigation-container > ul
{ 
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar > .navigation-container > ul > li
{ 
    width: 150px;
    
}

.sidebar > .navigation-container > ul > li a
{
    text-align: center;
}

.sidebar .book-now-button
{
    width: 50%;
}

.close-sidebar-button{

    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
}


/* Footer */
footer{
    display: flex;
    background-color: var(--header-bgcolor);
    align-items: center;
    padding: 15px 45px;
    gap: 20px;
    border-top: 2px solid #302a23;
    box-shadow: 10px 0px 20px 0px rgba(128, 128, 128, 0.422);

}


footer > h1
{
    color: #302a23;
    width: 270px;
}

footer > .line
{
    width: 3px;
    height: 130px;
    border-radius: 5px;
    background-color: #302a23;
}

footer > .footer-navigation-container
{
    margin-right: auto;
}

footer > .footer-navigation-container > ul
{
    display: flex;
    gap: 10px;
}

.footer-navigation-container > ul > li
{
    cursor: pointer;
}


.footer-navigation-container > ul > li a
{
    font-size: 0.9rem;
    color: #302a23;
}


.socials
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.socials-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.socials > p
{
    color: #302a23;
}
/* Media Queries */
@media (max-width: 1400px) {
    .about-container{
        grid-template-columns: 450px 1fr;
    }
    .brands-container{
        grid-template-rows: 250px;
        grid-template-columns: repeat(4 , 250px);
    }

    
    .contact-info-container
    {
        grid-template-columns: repeat(2 , 260px);
        grid-template-rows: repeat(2 , 260px);
        gap: 20px;
        justify-content: center;
    }

    .contact-info-container > .contact-card
    {
        justify-content: center;
    }
}

@media (max-width: 1240px) {
    .about-container{
        grid-template-columns: 500px 1fr;
    }

    .brands-container{
        grid-template-rows: 200px;
        grid-template-columns: repeat(4 , 200px);
    }

    .form-container
    {
        flex-direction: column;
    }

    .form-container > .locations-container 
    {
        position: relative;
        width: 100%;
        height: 500px;
    }

    .form-container > form{
        
        width: 100%;
    }

    .form-buttons
    {
        justify-content: center;
    }
    
}

@media (max-width: 1024px) {
    .about-container{
        grid-template-columns: 100%;
        grid-template-rows: 1fr auto a;
        column-gap: 0px;
        row-gap: 40px;
    }
    header > .navigation-container > ul
    {
        display: flex;
        gap: 15px;
    }

    .brands-container{
        grid-template-rows: 150px;
        grid-template-columns: repeat(4 , 150px);
    }

    .gallery-container > .gallery-photo-container
    {
        width: 360px;
        height: 360px;
    }

    footer
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer > .line
    {
        width: 300px;
        height: 3px;
    }

    .footer-navigation-container
    {
        width: 100%;
    }

    .footer-navigation-container > ul
    {
        justify-content: center;
    }
  }
  
  @media (max-width: 930px) {
    header > .navigation-container,
    header > .book-now-button
    {
        display: none;
    }

    .burger-menu{
        display: flex;
    }

    /* GALLERY */
    .gallery-container > .gallery-photo-container
    {
        width: 330px;
        height: 330px;
        
    }
    
    /* Course */
    .course-cards-container,
    .course-perks
    {
        width: 100%;
    }
    
  }

  @media (max-width: 768px) {
    .brands-container{
        grid-template-rows: repeat(2 , 200px);
        grid-template-columns: repeat(2 , 200px);
        justify-content: space-evenly;
    }

    .services-cards-container
    {
        flex-direction: column;
    }

    .card > .card-header > h3{
        font-size: 1.1rem;
    }

    .card > .card-info > .card-description{
        font-size: 1rem;
    }

    /* GALLERY */
    .gallery-container > .gallery-photo-container
    {
        width: 100%;
        height: auto;        
    }

    /* Course */
    .course-cards-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-container
    {
        width: 100%;
    }

    .contact-info-container
    {
        width: 100%;
        grid-template-columns: repeat(1 , 350px);
        grid-template-rows: repeat(4 , 250px);
    }
  }
  
  @media (max-width: 480px) {
    .sidebar .book-now-button
    {
        width: 100%;
    }
    .sidebar,
    .sidebar > .navigation-container > ul
    { 
        align-items: flex-start;
    }

    .brands-container{
        grid-template-rows: repeat(4 , 200px);
        grid-template-columns: 200px;
        justify-content: space-evenly;
    }

    .services-cards-container > .card{
        width: 100%;
    }

    .course-cards-container > .course-card{
        width: 100%;
        height: 130px;
        align-items: center;
        justify-content: center;
    }

    .contact-info-container
    {
        width: 100%;
        grid-template-columns: repeat(1 , 100%);
        grid-template-rows: repeat(4 , 250px);
    }

    .form-container > form{
        padding: 30px;
    }

    .locations-switchers
    {
        width: 100px;
    }

    .locations-container  label  
    {
        font-size: 0.8rem;
    }

  }

  @media (max-width: 380px) {
    .sidebar > .navigation-container > ul > li
    { 
        width: 100%;
    }

    .sidebar .book-now-button
    {
        width: 100%;
    }

    .course-cards-container > .course-card{
        flex-direction: column;
        height: 250px;
        justify-content: space-evenly;
        text-align: center;
    }

  }