:root {
    /* =====| Typography |===== */
    --font-default: "Poppins", sans-serif;

    /* ===== Base Colors ===== */
    --color-light: #F3ECE7; 
    --color-dark: #675341; 
    --color-accent: #C8A98C; 
    --color-accent-light: #E3C6B8; 
    --color-accent-dark: #CDA49F; 

    /* =====| Background Colors |===== */
    --bg-body: var(--color-light);
    --bg-announcement-bar: var(--color-accent-light);
    --bg-announcement-linkbar: var(--color-accent-dark);
    --bg-header: #F8F4F1; 
    --bg-footer: #F8F4F1; 
    --bg-sidebar : #F8F4F1;

    --bg-navigation-bar: var(--color-accent);
    --bg-book-now: var(--color-dark);
    --bg-book-now-hover: #DDB3A8;
    --bg-hero-book-now: var(--color-accent);
    --bg-hero-book-now-hover: var(--color-dark);
    --bg-up-button: #675341;
    --bg-up-button-icon: #F8F4F1 ;
    --bg-burger-menu-lines: #CDA49F; 
    --bg-section-lines: #675341; 
    --bg-icon : #675341;
    --bg-service-card: #F8F4F1; 
    --bg-service-card-icon: #675341; 
    --bg-service-card-button: #675341; 
    --bg-service-card-button-hover: #DDB3A8; 
    --bg-course-card: #F8F4F1; 
    --bg-course-card-hover: #DDB3A8; 
    --bg-course-card-icon: #4A3D36;
    --bg-course-card-icon-hover: #FFFFFF;
    --bg-contact-card : #F8F4F1;
    --bg-contact-card-hover: #DDB3A8; 
    --bg-contact-card-icon :#4A3D36 ;
    --bg-contact-card-icon-hover :var(--color-light);
    --bg-location-switcher: #FFFFFF; 
    --bg-contact-form: #F8F4F1; 
    --bg-form-buttons: var(--color-dark);
    --bg-form-buttons-hover: #DDB3A8; 
    --bg-perks-icon : #675341;
    --bg-footer-line : #675341;
    --bg-footer-socials-icon : #4A3D36;

    /* =====| Font Colors |===== */
    --fontcolor-strong: #675341; 
    --fontcolor-section-title: var(--color-dark);
    --fontcolor-announcement-bar: var(--color-accent-dark);
    --fontcolor-navigation-link: var(--color-dark);
    --fontcolor-navigation-link-hover: var(--color-accent);
    --fontcolor-book-now: var(--color-accent);
    --fontcolor-book-now-hover: var(--color-dark);
    --fontcolor-hero-book-now: var(--color-dark);
    --fontcolor-hero-book-now-hover: var(--color-accent);
    --fontcolor-about-description : var(--color-dark);
    --fontcolor-rita-name-hero: #E8C7C2; 
    --fontcolor-hero-para: #E8C7C2; 
    --fontcolor-service-card: #675341; 
    --fontcolor-service-card-button: #F8F4F1; 
    --fontcolor-service-card-button-hover: #675341; 
    --fontcolor-course-card-title: var(--color-dark);
    --fontcolor-course-card-description: var(--color-dark);
    --fontcolor-course-card-title-hover: #F8F4F1; 
    --fontcolor-course-card-description-hover: #F8F4F1; 
    --fontcolor-course-perk: #675341; 
    --fontcolor-course-perk-description: #302a23;
    --fontcolor-form-buttons: var(--color-accent);
    --fontcolor-form-buttons-hover: var(--color-dark);
    --fontcolor-contact-card-title: #675341; 
    --fontcolor-contact-card-title-hover: var(--color-light); 
    --fontcolor-contact-card-description: #675341; 
    --fontcolor-contact-card-description-hover: var(--color-light); 
    --fontcolor-footer-rita-name: #302a23;
    --fontcolor-footer-links: #302a23;
    --fontcolor-footer-email: #302a23;

    /* =====| Borders Colors |===== */
    --border-location-switcher: var(--color-dark);
    --border-footer: #302a23;
}
